## Analysis of German bundenliga Football Matches<br>
This project aims to analyse the football matches played at the German Bundesliga corresponding to the 2017 and 2018 season.<br>
The datasets utilized to carry out this analysis were downloaded from the following source:<br>
[**Link**](https://towardsdatascience.com/introduction-to-sports-analytics-with-pandas-ad6303db9e11/)<br>
All the datasets are in JSON format which is very common and easy to read.<br>

The libraries used in this analysis were Numpy and Pandas, both of which belong to Python.

In [38]:
import numpy as np
import pandas as pd

Using the library Pandas, 4 archives in Json Format are uploaded. Each archive contains information about the main events occured per match, all the teams that participated in the ligue, all the players and all the matches that carried out.

In [39]:
events = pd.read_json("C:\\Users\\Administrador\\Desktop\\Project\\data_sets\\events_Germany.json")
teams = pd.read_json("C:\\Users\\Administrador\\Desktop\\Project\\data_sets\\teams.json")
players = pd.read_json("C:\\Users\\Administrador\\Desktop\\Project\\data_sets\\players.json")
matches = pd.read_json("C:\\Users\\Administrador\\Desktop\\Project\\data_sets\\matches_Germany.json")

The **events** dataframe contains all the information about the actions related to ball touches which made in matches carried out in the German Bundesliga.<br>
This dataframe contains 12 columns which contain the following information:<br>

**id** = a unique identifier for each event.<br>
**eventName** = It contains the type of event that occured. (Pass, Others on the ball, Duel, Interruption, Free Kick, Foul, Shot, Save attempt, Goalkeeper leaving line, Offside)<br>
**eventId** = It is a unique identifier per each type of eventName.<br>
**subEventName** = This column contains sub categories per each eventName.<br>
**subEventId** = It is a unique identifier per each sub category.<br>
**tags** = describe additional information about the event.<br>
**playerId** = contains a code that helps to identify the player involved in the event.<br>
**positions** = The origin and destination positions associated with the event.<br>
**matchId** = is a code that helps to identify the match to which belongs this event.<br>
**teamId** = is a code that helps to identify the player's team who carries out the event.<br>
**matchPeriod** = This column indicates if the event was carried out at the first half (1H), second half (2H), first extra time (E1), second extra time (E2) or penalties time (P).<br>
**eventSec** = This information specifies in seconds when the event occurs. This measurement is tracked since the beginning of the current half of the match.<br>

In [40]:
events.head(2)

,eventId,subEventName,tags,playerId,positions,matchId,eventName,teamId,matchPeriod,eventSec,subEventId,id
0,8,Simple pass,[{'id': 1801}],15231,"[{'y': 50, 'x': 50}, {'y': 48, 'x': 50}]",2516739,Pass,2446,1H,2.409746,85,179896442
1,8,Simple pass,[{'id': 1801}],14786,"[{'y': 48, 'x': 50}, {'y': 22, 'x': 22}]",2516739,Pass,2446,1H,2.506082,85,179896443

The teams dataframe contains a detailed list about all the teams that have participated in the 7 main soccer competitions (Italian, Spanish, German, French, English First Divisions, World Cup 2018 and European Cup 2016).<br>
This dataframe has 6 columns which contains the following information:<br>
**city**= this column contains the name of the city where a team belongs.<br>
**name**= contains the team's name.<br>
**wyId**= is a unique identifier per each team.<br>
**officialName**= contains the team's official name.<br>
**area**= contains team's additional information.<br>
**type**= indicates the organization's model to which belongs the team.<br>

In [41]:
teams.head(2)

,city,name,wyId,officialName,area,type
0,Newcastle upon Tyne,Newcastle United,1613,Newcastle United FC,"{'name': 'England', 'id': '0', 'alpha3code': '...",club
1,Vigo,Celta de Vigo,692,Real Club Celta de Vigo,"{'name': 'Spain', 'id': '724', 'alpha3code': '...",club

The players dataframe is composed by all the information of players which have participated in the 7 main soccer competitions (Italian, Spanish, German, French, English First Divisions, World Cup 2018 and European Cup 2016).<br>
This dataframe contains 14 columns which are described next:<br>
**passportArea**= contains geographic information related to the player's current passport.<br>
**weight**= represents the weight in kilograms of each player.<br>
**firstName**= This column shows the first name of each player.<br>
**middleName** = This column shows the middle name of each player.<br>
**lastName** = This column shows the last name of each player.<br>
**currentTeamId** = This column shows the code of the team to which belongs the player.<br>
**birthDate** = It represents the birthday of each player.<br>
**height**= It represents the height of each player measured in centimeters.<br>
**role**= It represents the main role of player.<br>
**birthArea**= It represents the place where the player was born.<br>
**wyId**= This column shows the codes assigned to each player.<br>
**foot**= The preferred foot of the player.<br>
**shortName**= The short name of the player.<br>
**currentNationalTeamId**= It shows the code of the team where the player currently plays.<br>

In [42]:
players.head(2)

,passportArea,weight,firstName,middleName,lastName,currentTeamId,birthDate,height,role,birthArea,wyId,foot,shortName,currentNationalTeamId
0,"{'name': 'Turkey', 'id': '792', 'alpha3code': ...",78,Harun,,Tekin,4502,1989-06-17,187,"{'code2': 'GK', 'code3': 'GKP', 'name': 'Goalk...","{'name': 'Turkey', 'id': '792', 'alpha3code': ...",32777,right,H. Tekin,4687
1,"{'name': 'Senegal', 'id': '686', 'alpha3code':...",73,Malang,,Sarr,3775,1999-01-23,182,"{'code2': 'DF', 'code3': 'DEF', 'name': 'Defen...","{'name': 'France', 'id': '250', 'alpha3code': ...",393228,left,M. Sarr,4423

The matches dataframe is composed by all the matches carried out in the German Bundesliga.<br>
This dataframe has 14 columns which are detailed next:<br>
**status**= it presents the final status of the match which can be played, cancelled, postponed or suspended.<br>
**roundId**= indicates the match-day of the competition to which the match belongs to.<br>
**gameweek**= It represents the week of the league, starting from the beginning of the league.<br>
**teamsData**= presents extra information about the teams that are playing the match.<br>
**seasonId**= indicated the season of the match.<br>
**dateutc**= presents the date and time when the match was played.<br>
**winner**= presents the identifier of the team that won. If the match ended with a draw the identifier is 0.<br>
**venue**= The stadium where the match was held.<br>
**wyId**= It's the identifier assigned to the match.<br>
**label**= contains the names of both teams who played the match and the final result.<br>
**date**= The date when the match was held.<br>
**referees**= it contains information about the referees of the match.<br>
**duration**= This column establish 3 possible tags according to the match's duration. The options can be "Regular" (90 minutes), "Extra Time" (Matches with supplementary times) or Penalities (matches which end at penalty kicks).<br>
**competitionId**= This columns presents the identifier of the competition to which belongs the match.<br>

In [43]:
matches.head(2)

,status,roundId,gameweek,teamsData,seasonId,dateutc,winner,venue,wyId,label,date,referees,duration,competitionId
0,Played,4405517,34,"{'2444': {'scoreET': 0, 'coachId': 14710, 'sid...",181137,2018-05-12 13:30:00,2445,Allianz Arena,2517036,"Bayern M\u00fcnchen - Stuttgart, 1 - 4","May 12, 2018 at 3:30:00 PM GMT+2","[{'refereeId': 379444, 'role': 'referee'}, {'r...",Regular,426
1,Played,4405517,34,"{'2482': {'scoreET': 0, 'coachId': 272299, 'si...",181137,2018-05-12 13:30:00,2482,WIRSOL Rhein-Neckar-Arena,2517037,"Hoffenheim - Borussia Dortmund, 3 - 1","May 12, 2018 at 3:30:00 PM GMT+2","[{'refereeId': 384936, 'role': 'referee'}, {'r...",Regular,426

Before starting the analysis itÂ´s neccessary to check if there are null values and if the datatype is adequate according the information.

In [44]:
# Here we can observe that there are not null values and the datatype per each column is adequate. 
events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 519407 entries, 0 to 519406
Data columns (total 12 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   eventId       519407 non-null  int64
 1   subEventName  519407 non-null  object
 2   tags          519407 non-null  object
 3   playerId      519407 non-null  int64
 4   positions     519407 non-null  object
 5   matchId       519407 non-null  int64
 6   eventName     519407 non-null  object
 7   teamId        519407 non-null  int64
 8   matchPeriod   519407 non-null  object
 9   eventSec      519407 non-null  float64
 10  subEventId    519407 non-null  object
 11  id            519407 non-null  int64
dtypes: float64(1), int64(5), object(6)
memory usage: 47.6+ MB

In [45]:
# Here we can observe that there are not null values. The columns dateutc and date are classified as object but this information
# is related to date and time. We are going to fix it. 
matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306 entries, 0 to 305
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   status         306 non-null    object
 1   roundId        306 non-null    int64
 2   gameweek       306 non-null    int64
 3   teamsData      306 non-null    object
 4   seasonId       306 non-null    int64
 5   dateutc        306 non-null    object
 6   winner         306 non-null    int64
 7   venue          306 non-null    object
 8   wyId           306 non-null    int64
 9   label          306 non-null    object
 10  date           306 non-null    object
 11  referees       306 non-null    object
 12  duration       306 non-null    object
 13  competitionId  306 non-null    int64
dtypes: int64(6), object(8)
memory usage: 33.6+ KB

In [46]:
# a copy of matches dataframe is created and it's denominated "matches_2". In this dataframe the change of datatype will carry out. 
matches_2 = matches.copy(deep= True)

In [47]:
# aplying the modifications, the "matches_2" dataframe has the adequate datatype for all columns.
matches_2['dateutc'] = pd.to_datetime(matches_2['dateutc'])
matches_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306 entries, 0 to 305
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   status         306 non-null    object
 1   roundId        306 non-null    int64
 2   gameweek       306 non-null    int64
 3   teamsData      306 non-null    object
 4   seasonId       306 non-null    int64
 5   dateutc        306 non-null    datetime64[ns]
 6   winner         306 non-null    int64
 7   venue          306 non-null    object
 8   wyId           306 non-null    int64
 9   label          306 non-null    object
 10  date           306 non-null    object
 11  referees       306 non-null    object
 12  duration       306 non-null    object
 13  competitionId  306 non-null    int64
dtypes: datetime64[ns](1), int64(6), object(7)
memory usage: 33.6+ KB

In [48]:
# Here we can observe that there are not null values but exists a column "birthDate" which requires a change of the datatype.
players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3603 entries, 0 to 3602
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   passportArea           3603 non-null   object
 1   weight                 3603 non-null   int64
 2   firstName              3603 non-null   object
 3   middleName             3603 non-null   object
 4   lastName               3603 non-null   object
 5   currentTeamId          3512 non-null   object
 6   birthDate              3603 non-null   object
 7   height                 3603 non-null   int64
 8   role                   3603 non-null   object
 9   birthArea              3603 non-null   object
 10  wyId                   3603 non-null   int64
 11  foot                   3603 non-null   object
 12  shortName              3603 non-null   object
 13  currentNationalTeamId  3603 non-null   object
dtypes: int64(3), object(11)
memory usage: 394.2+ KB

In [49]:
## Applying the same steps described lines above, the column "birthday" has the adequate datatype.
players_2 = players.copy(deep= True)
players_2['birthDate'] = pd.to_datetime(players_2['birthDate'])
players_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3603 entries, 0 to 3602
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   passportArea           3603 non-null   object
 1   weight                 3603 non-null   int64
 2   firstName              3603 non-null   object
 3   middleName             3603 non-null   object
 4   lastName               3603 non-null   object
 5   currentTeamId          3512 non-null   object
 6   birthDate              3603 non-null   datetime64[ns]
 7   height                 3603 non-null   int64
 8   role                   3603 non-null   object
 9   birthArea              3603 non-null   object
 10  wyId                   3603 non-null   int64
 11  foot                   3603 non-null   object
 12  shortName              3603 non-null   object
 13  currentNationalTeamId  3603 non-null   object
dtypes: datetime64[ns](1), int64(3), object(10)
memory usage: 394.2+ KB

In [50]:
# Here we can observe that neither there are null values nor columns with an inadequate datatype.  
teams.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142 entries, 0 to 141
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   city          142 non-null    object
 1   name          142 non-null    object
 2   wyId          142 non-null    int64
 3   officialName  142 non-null    object
 4   area          142 non-null    object
 5   type          142 non-null    object
dtypes: int64(1), object(5)
memory usage: 6.8+ KB

## Analysis of the information

The following analysis will be based on the 2017-2018 matches.<br>

In [51]:
(matches_2['dateutc'].dt.year).unique()

array([2018, 2017], dtype=int32)

### Question 1
Using the events, teams and players_2 dataframes, we are going to respond the following question:<br>
which are the top-5 teams with the highest average number of passes per match?

In [52]:
events_df = pd.merge(events, teams[['name','wyId']], how= 'inner', left_on= 'teamId', right_on= 'wyId')
events_df.rename(columns={'name':'TeamName'}, inplace= True)
events_df.drop(labels= 'wyId', axis= 1, inplace= True)
events_df.head(3)

,eventId,subEventName,tags,playerId,positions,matchId,eventName,teamId,matchPeriod,eventSec,subEventId,id,TeamName
0,8,Simple pass,[{'id': 1801}],15231,"[{'y': 50, 'x': 50}, {'y': 48, 'x': 50}]",2516739,Pass,2446,1H,2.409746,85,179896442,Bayer Leverkusen
1,8,Simple pass,[{'id': 1801}],14786,"[{'y': 48, 'x': 50}, {'y': 22, 'x': 22}]",2516739,Pass,2446,1H,2.506082,85,179896443,Bayer Leverkusen
2,8,Simple pass,[{'id': 1801}],14803,"[{'y': 22, 'x': 22}, {'y': 46, 'x': 6}]",2516739,Pass,2446,1H,6.946706,85,179896444,Bayer Leverkusen

In [53]:
players_2.columns

Index(['passportArea', 'weight', 'firstName', 'middleName', 'lastName',
       'currentTeamId', 'birthDate', 'height', 'role', 'birthArea', 'wyId',
       'foot', 'shortName', 'currentNationalTeamId'],
      dtype='object')

In [54]:
events_df = pd.merge(events_df, players_2[['wyId', 'shortName', 'firstName']], how= 'inner', left_on= 'playerId', right_on= 'wyId')
events_df.rename(columns= {'shortName':'PlayerName', 'firstName':'PlayerFname'})
events_df.drop(labels= 'wyId', axis= 1, inplace= True)
events_df.head(2)

,eventId,subEventName,tags,playerId,positions,matchId,eventName,teamId,matchPeriod,eventSec,subEventId,id,TeamName,shortName,firstName
0,8,Simple pass,[{'id': 1801}],15231,"[{'y': 50, 'x': 50}, {'y': 48, 'x': 50}]",2516739,Pass,2446,1H,2.409746,85,179896442,Bayer Leverkusen,K. Volland,Kevin
1,8,Simple pass,[{'id': 1801}],14786,"[{'y': 48, 'x': 50}, {'y': 22, 'x': 22}]",2516739,Pass,2446,1H,2.506082,85,179896443,Bayer Leverkusen,K. Bellarabi,Karim

### Result of the question 1

In [68]:
passes_by_match_team = (events_df[events_df['eventName'] == 'Pass']).groupby(['TeamName', 'matchId'])['eventName'].count()
passes_by_match_team = passes_by_match_team.reset_index()
passes_by_match_team.rename(columns={'eventName':'Number_of_passes'}, inplace= True)
passes_by_match_team.groupby('TeamName')['Number_of_passes'].mean().reset_index().round(0).sort_values(
    by = 'Number_of_passes', ascending = False).head(5)

               TeamName  Number_of_passes
2   Bayern M\u00fcnchen             648.0
3     Borussia Dortmund             536.0
1      Bayer Leverkusen             479.0
4   Borussia M'gladbach             470.0
13           RB Leipzig             465.0

**Result**<br>
Bayern Munich has the best average number of passes followed by Borussia Dortmund in the 2017-2018 season.